<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBDService" />
                <binding name="BasicHttpsBinding_IBDService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wcfre.azurewebsites.net/BDService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBDService"
                contract="ServicioFree.IBDService" name="BasicHttpBinding_IBDService" />
            <endpoint address="https://wcfre.azurewebsites.net/BDService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBDService"
                contract="ServicioFree.IBDService" name="BasicHttpsBinding_IBDService" />
        </client>
    </system.serviceModel>
</configuration>